.maincontainer {
  background-color: #e3e8ee;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main_login {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.logo_image {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.login_border {
  background-color: white;
  width: 70%;
  min-height: 70vh;
  margin-top: 20px;
  box-shadow: 0px 0px 12px 0px #808080;
}

.login_heading {
  font-family: sans-serif;
  height: 50px;
  font-size: 20px;
}
.input_fields {
}
.email_input_div {
  display: flex;
  margin-top: 25px;
}
.email_text {
  width: 30%;
  text-align: right;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: rgb(73, 71, 71);
}
.input {
  width: 45%;
  height: 45px;
  background: none;
  margin-left: 20px;
  border-radius: 5px;
  border: 2px solid #e3e8ee;
}

.input:focus {
  background-color: #fff;
  /* outline: none; */
  outline-color: #5469d4;
}

.remember {
  display: flex;
  /* margin-left: 47px; */
}
.remember_input {
  display: flex;
}
.left_div {
  width: 200px;
}
.right_div {
  margin-left: 20px;
}
.right_div_signup {
  margin-top: 40px;
  margin-left: 20px;
}
.login_btn {
  width: 80px;
  height: 30px;
  border-radius: 3px;
  border: none;
  color: white;
  background: #5469d4;
  cursor: pointer;
}

.forgotpassword {
  color: #5469d4 !important;
  margin-left: 10px;
}
.alreadyhaveaccount {
  color: #5469d4 !important;
  margin-left: 10px;
}
.alreadyhaveaccount:hover {
  text-decoration: underline;
  cursor: pointer;
}

.forgotpassword:hover {
  cursor: pointer;
  text-decoration: underline;
}
.login_text {
  color: #3c4257;
  padding-left: 30px;
}

.pass_contains {
  margin-left: 31%;
  width: 50%;
  text-align: start;
  font-size: 10px;
  font-family: sans-serif;
  color: grey;
}

.terms_condition {
  color: grey;
  font-family: sans-serif;
  font-size: 10px;
}
.termslink {
  color: #5469d4;
  font-family: sans-serif;
  font-size: 10px;
}

.termslink:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #5469d4;
}
